<div class="container_body">

  <h2><%= @lyric.get_song.title%></h2>
  <iframe width="100%" height="35px" scrolling="no" frameborder="no" src="<%= @lyric.get_song.url%>">
  </iframe>

    <div class="lyric_display" contenteditable="true">
      <%=@lyric.text.html_safe%>
    </div>

    <% if @user.id == session[:user_id]%>

      <%= form_for @lyric do |f| %>
        <%= f.text_field :text, style: "display:none", class: 'edit_text'%>
        <%= f.submit %>
      <% end %>

      <%# you can use a named route helper here... %>
      <%= form_tag("/lyrics/#{@lyric.id}", method: "delete") do %>
        <%=submit_tag('Delete') %>
      <%end%>

    <%end%>
</div>
</div>
