<div class="container_body">

  <h1><%= @song.title%></h1>
  <i> Click on text to edit </i>
  <div class="container">
  <div class="lyric" contenteditable="true">
      <%= @song.get_lyrics.html_safe%>
  </div>

  <%= form_for @lyric do |f| %>
    <%# NO.  hidden_field helper %>
    <%= f.text_field :text,:style => "display:none", class: 'create_text' %>
    <%= f.text_field :song, :style => "display:none", :value => @song.id %>
    <%= f.submit %>
  <%end%>

  </div>

</div>
