<div class="container_body">

  <h1><%= @song.title%></h1>
  <i> Click on text to edit </i>
  <div class="container">
  <div class="lyric" contenteditable="true">
      <%= @song.get_lyrics.html_safe%>
  </div>

  <%= form_for @lyric do |f| %>
    <%= f.hidden_field :text, class: 'create_text' %>
    <%= f.hidden_field :song, :value => @song.id %>
    <%= f.submit %>
  <%end%>

  </div>

</div>
